# Python dependencies

pelican==3.6.2
Jinja2==2.8

Markdown==2.6.5
webassets== 0.11.1
py_w3c

# devops
Fabric==1.10.2
honcho==0.6.6

# quality check
http://closure-linter.googlecode.com/files/closure_linter-latest.tar.gz#egg=closure_linter
flake8==2.5.0

## Deploy

# for Github project pages
ghp-import==0.4.1
