# Python dependencies

pelican==3.3
Jinja2==2.7

Markdown==2.3.1
webassets==0.8
--allow-external py_w3c

# devops
Fabric==1.6.0
honcho==0.4.2

# quality check
http://closure-linter.googlecode.com/files/closure_linter-latest.tar.gz#egg=closure_linter
flake8==2.0

## Deploy

# for Github project pages
ghp-import==0.3.2
