<div id="sidebar">
    <h2><a href="{{ SITEURL }}/index.html">{{ SITEDSN }}</a></h2>
    <!-- Logo -->
    <div id="logo"><img src="{{ SITEURL }}/theme/images/logo.jpg" alt="site logo" /></div>
    <!-- social links -->
    <h3>Social</h3>
    <ul class="nav social">
        {% for name, link in SOCIAL %}
        <li><a class="icon" href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
    </ul>
    {% if BLOG_ROLL %}
    <h3>Blogs</h3>
    <ul class="nav">
        {% for name, link in BLOG_ROLL %}
        <li><a href="{{ link }}"><i class="icon-globe"></i> {{ name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>