{% extends "base.html" %}

{% block title %} - {{ article.title }}{% endblock %}

{% block content %}
    <div class="article">
        <div class="title"><h1>{{ article.title }}</h1></div>
        <div class="metadata">{% include "_metadata.html" %}</div>
        <div class="post">{{ article.content }}</div>
        <div class="comments">
            <h2>Comments</h2>
            <div id="social-share">
                {% include "_twitter.html" %}
                {% include "_googleplus.html" %}
            </div>
            {% if DISQUS_SITENAME %}<div id="disqus_thread"></div>{% endif %}
            {% if FACEBOOK_APPID %}<div class="fb-comments" data-href="{{ FQ_SITEURL }}/{{ article.url }}" data-num-posts="10" data-width="760"></div>{% endif %}
        </div>
    </div>
{% endblock %}
