<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ SITEURL }}/theme/main.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/main-responsive.css" rel="stylesheet">

    {% include "analytics.html" %}
    {% include "disqus.html" %}
</head>
<body>
    <div class="container">
        <header>
            <div class="nav">
                <i class="icon-home"></i> <a href="{{ SITEURL }}/index.html">Home</a>
                {% if DISPLAY_PAGES_ON_MENU %}
                {% for page in PAGES %}
                <i class="icon-book"></i> <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
                {% endfor %}
                {% endif %}
                <i class="icon-briefcase"></i> <a href="{{ SITEURL }}/archives.html">Archives</a>
                <i class="icon-folder-close"></i> <a href="{{ SITEURL }}/categories.html">Categories</a>
                <i class="icon-tag"></i> <a href="{{ SITEURL }}/tags.html">Tags</a>
            </div>
        </header>
        <div class="row">
            <!-- sidebar -->
            <div class="span2">
                <div id="sidebar">
                    <!-- Avatar -->
                    <div id="avatar"><a href="{{ SITEURL }}/index.html"><img src="/theme/images/avatar.jpg" alt="my avatar" /></a></div>
                    <!-- social links -->
                    <ul class="nav social">
                        {% for name, link in SOCIAL %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- content -->
            <div class="content span10">
                <div class="inner">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer>
            <p><small>
                <a href="{{ SITEURL }}/index.html">{{ SITENAME }} ({{ SITEDSN }})</a>,
                a <a href="http://docs.getpelican.com">Pelican</a> blog by &copy; {{ AUTHOR }} 2013
            </small>
            </p>
        </footer>

    </div>
</body>
</html>
