<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>{{ SITENAME }}{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="favicon.ico" />
    <link href="{{ SITEURL }}/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />

    {% assets filters="less", output="css/main.css", "less/main.less", "less/main-responsive.less" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}

    {% include "analytics.html" %}
    {% include "disqus.html" %}
</head>
<body>
    <div class="container">
        <header>
            <div class="nav">
                <a class="btn btn-small btn-inverse active" href="{{ SITEURL }}/index.html"><i class="icon-white icon-home"></i> Home</a>
                {% if DISPLAY_PAGES_ON_MENU %}
                {% for page in PAGES %}
                <a class="btn btn-small btn-inverse active" href="{{ SITEURL }}/{{ page.url }}"><i class="icon-white icon-book"></i> {{ page.title }}</a>
                {% endfor %}
                {% endif %}
                <a class="btn btn-small btn-inverse active" href="{{ SITEURL }}/archives.html"><i class="icon-white icon-briefcase"></i> Archives</a>
                <a class="btn btn-small btn-inverse active" href="{{ SITEURL }}/categories.html"><i class="icon-white icon-folder-close"></i> Categories</a>
                <a class="btn btn-small btn-inverse active" href="{{ SITEURL }}/tags.html"><i class="icon-white icon-tag"></i> Tags</a>
            </div>
        </header>
        <div class="row">
            <!-- sidebar -->
            <div class="span2">
                <div id="sidebar">
                    <h2>{{ SITEDSN }}</h2>
                    <!-- Avatar -->
                    <div id="avatar"><a href="{{ SITEURL }}/index.html"><img src="{{ SITEURL }}/theme/images/avatar.jpg" alt="my avatar" /></a></div>
                    <!-- social links -->
                    <h3>Social</h3>
                    <ul class="nav social">
                        {% for name, link in SOCIAL %}
                        <li><a class="icon" href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% if BLOG_ROLL %}
                    <h3>Blogs</h3>
                    <ul class="nav">
                    {% for name, link in BLOG_ROLL %}
                    <li><a href="{{ link }}"><i class="icon-globe"></i> {{ name }}</a></li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <!-- content -->
            <div class="content span10">
                <div class="inner">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer>
            <p>
                <small>
                <a href="{{ SITEURL }}/index.html">{{ SITENAME }}</a>,
                a <a href="http://docs.getpelican.com">Pelican</a> blog by &copy; {{ AUTHOR }} 2013
                <a class="icon" href="{{ SITEURL }}/feeds/all.atom.xml">RSS</a>
                <a class="icon" href="https://github.com/zemanel/zemanel.eu/">Source Code</a>
                </small>
            </p>
        </footer>

    </div>
</body>
</html>
