<p>
    <strong>created</strong> <a href="{{ SITEURL }}/{{ article.url }}">{{ article.date }}</a>
    {% if article.modified %}<strong>updated</strong> <a href="{{ SITEURL }}/{{ article.url }}">{{ article.modified }}</a> {% endif %}
    <i class="icon-folder-close"></i> <strong>category</strong> <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    <i class="icon-tag"></i> {% if article.tags %}<strong>tags</strong> {% for tag in article.tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% endfor %}{% endif %}
    <a class="icon" href="{{_GITHUB_REPO}}{{article.get_relative_source_path()}}">{{_GITHUB_REPO}}{{article.get_relative_source_path()}}</a>
</p>
