// -- Variables

// color pool
@color-writely-olive: #73880A;
@color-light-gray: #d0d0d0;
@color-shiny-silver: #EEEEEE;
@color-white: #FFFFFF;
@color-newsvine-green: #006E2E;
@color-qoop-mint: #CDEB8B;
@color-techcrunch-green: #008C00;

// color palette

@primary-text-color: @color-writely-olive;
@secundary-text-color: @color-writely-olive;
@tertiary-text-color: @color-light-gray;

// Mixins

.divider {
  border-bottom: 1px solid #EEEEEE;
  margin: 10px 0;
}

// General site styles
body {
  background-color: @color-shiny-silver;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: @secundary-text-color;
}

a:hover, a:focus {
  color: @secundary-text-color;
  .opacity(70);
}

ul {
  list-style: square;
}

pre {
  background-color: transparent;
  color: inherit;
}

// Navigation
header {
  margin-top: 10px;
  .nav {
    text-align: right;
    line-height: 30px;
    a {
      padding-right: 10px;
    }
    a:hover, a:focus {
    }
  }
}

// Sidebar
#sidebar {
  .nav a {
    margin-top: 5px;
    color: #000000;
  }
}

#logo {
  margin-bottom: 10px;
  img {
    .border-radius(3px);
  }
}

.brand {
  line-height: 20px;
  h2 {
    margin: 0;
    a {
      color: #000000;
    }
    a:active, a:hover {
      color: #000000;
      text-decoration: none;
    }
  }
}

// Content
.content {
  .border-radius(1px);
  .inner {
    padding: 0px;
  }
  h2 a {
    color: #000;
    text-decoration: none;
  }
  img {
    margin: 20px 0;
    .thumbnail;
  }
  .title {
    .divider;
  }

  .article, .page, .archives, .categories, .tags, .the404 {
    background-color: @color-white;
    padding: 10px;
    margin-bottom: 20px;
  }

  .the404 h2 {
    font-size: 160px;
    line-height: 140px;
  }

// content metadata
  .metadata {
    background-color: @color-shiny-silver;
    padding: 10px;
    margin-bottom: 20px;
    p {
      margin: 0;
    }
    a {
      margin: 0 5px 0 5px;
    }
    a.icon {
      margin: 0;
    }
  }

// article
  .article {
    .title {
      h1 {
        a, a:active, a:hover {
          text-decoration: none;
          color: @primary-text-color;
        }
      }
    }
    .summary {
      margin-top: 10px;
    }
    .post { //margin-top: 20px;
    }
    .comments {
      margin-top: 30px;
    }
    #social-share {
      margin: 30px 0;
    }
    .more {
      font-weight: bold;
      margin-top: 10px;
    }
    .codehilite {
      pre {
        background-color: @color-shiny-silver;
        border: 0;
      }
    }
  }
}

// Footer

footer p {
  text-align: right;
  padding: 10px;
}

