// Variables

// http://modernl.com/article/web-2.0-colour-palette

//@secundary-text-color: #36393D;
//@secundary-text-color: #E75480; //dark pink
//@secundary-text-color: #3F4C6B; // Mozilla blue
@secundary-text-color: #363636; // Bootstrap brown-ish
@tertiary-text-color: #d0d0d0;

// Mixins

.divider {
  border-bottom: 1px solid #EEEEEE;
  margin: 10px 0;
}

// General site styles
body {
  background-color: #E8E8E8;
}
h2, h3, h4, h5, h6 {
  color: @secundary-text-color;
}
a {
  color: @secundary-text-color;
}
a:hover, a:focus {
  color: @secundary-text-color;
  .opacity(70);
}
ul {
  list-style: square;
}
pre {
  background-color: transparent;
}
// Navigation
header {
  margin-top: 10px;
  .nav {
    text-align: right;
    line-height: 30px;
    a {
      padding-right: 10px;
    }
    a:hover, a:focus {
    }
  }
}
// Sidebar
#sidebar {
  h2 {
    margin-top: 0;
  }
  .nav a {
    margin-top: 5px;
  }
}
#avatar {
  margin-bottom: 10px;
  img {
    .border-radius(3px);
  }
}

// Content
.content {
  background-color: #FFFFFF;
  .border-radius(1px);
  a {
    border-bottom: 1px solid @tertiary-text-color;
  }
  img {
    margin: 20px 0;
    .thumbnail;
  }
  .inner {
    padding: 10px;
  }
  .title {
    .divider;
  }
  // article
  .article {
    margin-bottom: 40px;
    .metadata {
      a {
        margin: 0 5px 0 5px;
      }
      a.icon {
        margin: 0;
      }
    }
    .summary {
      margin-top: 10px;
    }
    .post {
      margin-top: 20px;
    }
    .comments {
      margin-top: 30px;
    }
    #social-share {
      margin: 30px 0;
    }
    .more {
      font-weight: bold;
      margin-top: 10px;
    }
    .codehilite {
      pre {
        background-color: #EEEEEE;
        border: 0;
      }
    }
  }
  // page
  .page {
    .metadata {
      margin-bottom: 20px;
    }
  }
}

// Footer

footer p {
  text-align: right;
  padding: 10px;
}

